.cartBlock-header{
	height:15px;
	padding:5px 10px;
}


.cartBlock-content{width:100%;
	height:90px;
	overflow:hidden;
	.cartBlock-content-mes{
	margin-left:10px;
	}
	.cartCount{
		padding-top:70px;
		padding-right:10px;
	}
}
.cartBlock-footer{
	width:100%;
	height:20px;
	margin-bottom:5px;
	.right{padding-right:10px;}
	.cartPrice{
		padding-left:10px;
		color:#fa6347;
	}
}
.cartFooter{
	border:0;
}
.countAll{width:70%;padding-left:10px;span{color:#fa6347;font-size:19px;}}
.countAll,.pay{
	height:100%;
	line-height:45px;
}
.pay{
	width:30%;	
	text-align:center;
	background-color:#fa6347;
	color:#fff;
	padding:0;
	border:0;
}