$height:11rem;
#slide{margin:0;width:100%;height:$height;position: relative;}
#slide .swiper-wrapper{width:100%;height: $height;}
#slide .swiper-wrapper img{width:100%;height: $height;position:absolute;z-index:2;}
#pagination{width:100%;position:absolute;bottom:0px;padding:0;bottom:5px;margin:0;text-align:center;z-index:3;}
#pagination li{width:8px;height:8px;border-radius:100%;display:inline-block;background:#666;margin:0 5px;}
#pagination>.active{background:#fa6347;}