<header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left" ng-click="vm.header.goBack()">
      <span class="fa fa-chevron-left"></span>
    </button>
    <h1 class="title">解绑手机</h1>
</header>
<div class="content">
	<div class="unbindPhone">
		<form class="input-group">
	      <div class="input-row">
	        <label>手机号</label>
	        <input type="text" placeholder="" maxlength="11" ng-model="vm.phone" placeholder="输入手机号" style="font-size:13.4px;line-height:13.4px;">
	      </div>
	      <div class="input-row">
	        <label>验证码</label>
	        <!-- <img ng-src="{{vm.image}}"> -->
	        <input type="text" placeholder="" maxlength="4">
	      </div>
	      <button class="btn btn-link btn-valid" style="color:#000;top:4rem;">获取验证码</button>
		</form>
	</div>
	<div class="login-input">
        <button class="btn btn-block btn-login btn-grey" style="margin-top: 15px">解绑手机号码</button><!--当输入验证码后可以移除.btn-grey-->
     </div>
</div>