<!-- <div class="banner-img super-home-banner">
 <header ng-hide="vm.header.headerHide" class="text-center">
  <a class="header-block text-left">
   <div class="msg-number" ng-click="vm.goMessageListPage()">
    <span ng-show="vm.msgNum &gt; 0">{{vm.msgNum}}</span> 
    <i class="sprite-super super16"></i>
   </div>&nbsp;</a> 
  <a class="header-block text-right">
   <div class="msg-number" ng-click="vm.goCartPage()">
    <span ng-show="vm.cartCount &gt; 0">{{vm.cartCount}}</span> 
    <i class="iconfont icon-gouwuche"></i>
   </div></a>
 </header>
</div>
<div class="super-home-view">
 <img class="first-banner-img" ng-src="{{vm.head.image}}" alt="" ng-click="vm.clickImage(vm.head)" />
 <div class="image-content">
  <ul class="image-list">
   <li ng-repeat="image in vm.images"><img ng-src="{{image.image}}" alt="" ng-click="vm.clickImage(image)" /></li>
  </ul>
  <div class="text-center text-gray" ng-click="vm.goSuperHome()">
   <img class="btn-more-img" ng-click="vm.goSuperHome()" src="http://zhaime.qiniudn.com/uploads/btn_more_11.png" alt="" />
  </div>
 </div>
</div> -->
<!-- 底部UI导航 -->
<div ng-include="'./views/common/footer.html'"></div>