<header class="bar bar-nav">
  <button class="btn btn-link btn-nav pull-left" style="color: #87cefa;" ng-click="vm.header.goBack()">
    <span class="fa fa-chevron-left"></span>
  </button>
  <h1 class="title">选择城市</h1>
  <button class="btn btn-link btn-nav pull-right" style="margin-right:10px;color: #87cefa;" ng-click="vm.header.rightEvent()">
    <span class="fa fa-search"></span>
  </button>
</header>
<div class="content" style="background-color: rgb(244,244,244);">
  <div class="currentCity" style="margin-bottom: 0;margin-top:3px;">
    <div class="currentCity-title" style="font-size: 12px;color:#a5a5a5;">当前城市</div>
    <p style="color: #87cefa;;font-size:14px;padding: 8px 0 8px 0;line-height: 14px;margin:0;">潮州</p>
  </div>
  <div class="partition-line"></div>
  <div class="hot-city" style="margin: 0 0 0 16px;">
    <div class="currentCity-title" style="font-size: 12px;color:#a5a5a5;">热门城市</div>
    <ul style="padding:0;margin-top:5px;">
      <li style="border-radius: 4px;font-size: 14px;line-height: 27px;margin:0 5px 10px 0;"><a href="#" style="color:#7c7c7c;">广州</a></li>
      <li style="border-radius: 4px;font-size: 14px;line-height: 27px;margin:0 5px 10px 0;"><a href="#" style="color:#7c7c7c;">潮州</a></li>
      <li style="border-radius: 4px;font-size: 14px;line-height: 27px;margin:0 5px 10px 0;"><a href="#" style="color:#7c7c7c;">深圳</a></li>
      <li style="border-radius: 4px;font-size: 14px;line-height: 27px;margin:0 5px 10px 0;"><a href="#" style="color:#7c7c7c;">福建</a></li>
      <li style="border-radius: 4px;font-size: 14px;line-height: 27px;margin:0 5px 10px 0;"><a href="#" style="color:#7c7c7c;">上海</a></li>
      <li style="border-radius: 4px;font-size: 14px;line-height: 27px;margin:0 5px 10px 0;"><a href="#" style="color:#7c7c7c;">东莞</a></li>
      <li style="border-radius: 4px;font-size: 14px;line-height: 27px;margin:0 5px 10px 0;"><a href="#" style="color:#7c7c7c;">河源</a></li>
      <li style="border-radius: 4px;font-size: 14px;line-height: 27px;margin:0 5px 10px 0;"><a href="#" style="color:#7c7c7c;">杭州</a></li>
    </ul>
  </div>
  <div class="cityList">
    <div class="currentCity-title" style="padding-left: 16px;font-size: 12px;color:#a5a5a5;">A</div>
    <ul class="table-view" style="border: 0;">
      <li class="table-view-cell" style="color: #565a5c;font-size: 14px;border-bottom: 1px solid #fcfcfc;line-height: 14px;">鞍山</li>
      <li class="table-view-cell" style="color: #565a5c;font-size: 14px;border-bottom: 1px solid #fcfcfc;line-height: 14px;">安顺</li>
      <li class="table-view-cell" style="color: #565a5c;font-size: 14px;border-bottom: 1px solid #fcfcfc;line-height: 14px;">安阳</li>
    </ul>
    <div class="currentCity-title" style="padding-left: 16px;font-size: 12px;color:#a5a5a5;">B</div>
    <ul class="table-view" style="border: 0;">
      <li class="table-view-cell" style="color: #565a5c;font-size: 14px;border-bottom: 1px solid #fcfcfc;line-height: 14px;">百色</li>
      <li class="table-view-cell" style="color: #565a5c;font-size: 14px;border-bottom: 1px solid #fcfcfc;line-height: 14px;">白银</li>
      <li class="table-view-cell" style="color: #565a5c;font-size: 14px;border-bottom: 1px solid #fcfcfc;line-height: 14px;">蚌埠</li>
      <li class="table-view-cell" style="color: #565a5c;font-size: 14px;border-bottom: 1px solid #fcfcfc;line-height: 14px;">保定</li>
      <li class="table-view-cell" style="color: #565a5c;font-size: 14px;border-bottom: 1px solid #fcfcfc;line-height: 14px;">宝鸡</li>
      <li class="table-view-cell" style="color: #565a5c;font-size: 14px;border-bottom: 1px solid #fcfcfc;line-height: 14px;">包头</li>
      <li class="table-view-cell" style="color: #565a5c;font-size: 14px;border-bottom: 1px solid #fcfcfc;line-height: 14px;">北海</li>
      <li class="table-view-cell" style="color: #565a5c;font-size: 14px;border-bottom: 1px solid #fcfcfc;line-height: 14px;">北京</li>
    </ul>
    <div class="currentCity-title" style="padding-left: 16px;font-size: 12px;color:#a5a5a5;">C</div>
    <ul class="table-view" style="border: 0;">
      <li class="table-view-cell" style="color: #565a5c;font-size: 14px;border-bottom: 1px solid #fcfcfc;line-height: 14px;">重庆</li>
      <li class="table-view-cell" style="color: #565a5c;font-size: 14px;border-bottom: 1px solid #fcfcfc;line-height: 14px;">常州</li>
      <li class="table-view-cell" style="color: #565a5c;font-size: 14px;border-bottom: 1px solid #fcfcfc;line-height: 14px;">长沙</li>
      <li class="table-view-cell" style="color: #565a5c;font-size: 14px;border-bottom: 1px solid #fcfcfc;line-height: 14px;">长春</li>
    </ul>
  </div>
</div>
