<header class="bar bar-nav" style="border: 0;">
  <button class="btn btn-link btn-nav pull-left" style="color: #87cefa;font-size:14px;">
    切换城市
  </button>
  <h1 class="title">广州</h1>
  <button class="btn btn-link btn-nav pull-right" style="margin-right:10px;color: #87cefa;">
    <span class="fa fa-search"></span>
  </button>
</header>
<div class="address-list header-padding">
  <div class="address-list-left">
    <div class="address-list-block text-right active">
      <span>天河区</span>
    </div>
    <div class="address-list-block text-right">
      <span>番禺区</span>
    </div>
    <div class="address-list-block text-right">
      <span>白云区</span>
    </div>
    <div class="address-list-block text-right">
      <span>越秀区</span>
    </div>
  </div>
  <div class="address-list-right">
    <div class="address-list-line">华南理工大学（北校区）</div>
    <div class="address-list-line">华南农业大学</div>
    <div class="address-list-line">暨南大学</div>
    <div class="address-list-line">广东食品药品职业学院</div>
  </div>
</div>
