 <header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left" ng-click="vm.header.goBack()">
      <span class="fa fa-chevron-left"></span>
    </button>
    <h1 class="title">修改密码</h1>
  </header>
  <div class="content" style="font-size:13.4px;">
    <form class="input-group" name="changePassword">
      <div class="input-row">
        <label style="padding-left:0;">旧密码</label>
        <input type="text" placeholder="输入旧密码" style="font-size:13.4px;text-align:right;" required="" ng-model="vm.data.oldPassword" minlength="6" maxlength="16">
      </div>
      <div class="input-row">
        <label style="padding-left:0;">新密码</label>
        <input type="text" placeholder="输入新密码" style="font-size:13.4px;text-align:right;" required="" ng-model="vm.data.newPassword" minlength="6" maxlength="16">
      </div>  
      <button ng-class="{true:'btn-grey',false:''}[changePassword.$invalid]" ng-disabled="changePassword.$invalid" class="btn btn-block btn-login" style="margin-top: 15px;">保存</button>
    </form>
  </div>