<header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left">
    	<span class="fa fa-chevron-left"></span>
    </button>
    <h1 class="title">吐槽</h1>
</header>
<div class="content">
	<div class="messageBoard">
		<textarea name="#" id="" cols="30" rows="10" class="messageBoard-content" placeholder="如果您有任何关于好友Store的意见或建议，欢迎反馈给我们，帮助好友Store变得更好。"></textarea>
		<textarea name="" id="" cols="30" rows="1" class="messageBoard-u" placeholder="联系方式(必填，方便我们联系您)"></textarea>
	</div>
	<button class="btn btn-block btn-login u-btn">提交</button>
</div>