<div ng-include="\'app/views/common/header.html\'"></div>
<div class="search-header" ng-if="vm.header.headerHide">
  <div class="store-search">
    <div class="input-group">
      <input type="text" ng-model="vm.keyword" placeholder="请输入您的学校">
      <div class="text-danger text-center" ng-click="vm.headerHide()">取消</div></div>
  </div>
</div>
<div ng-include="\'app/views/common/loading.html\'"></div>
<div class="address-list header-padding" ng-hide="vm.header.headerHide || !vm.regions">
  <div class="address-list-left">
    <div class="list-block text-right" ng-repeat="region in vm.regions" ng-click="vm.chooseSchool($index)" ng-class="{active: vm.schoolIndex == $index}">
      <span>{{(region.name | truncate:8)}}
        <span></span></span>
    </div>
    <div class="list-block text-right list-offset"></div>
  </div>
  <div class="address-list-right list-table">
    <div class="list-line" ng-click="vm.goSchool(school)" ng-repeat="school in vm.schools">{{school.name}}</div></div>
</div>
<div class="header-padding" ng-if="vm.header.headerHide">
  <div class="list-table" ng-show="vm.keyword.length > 0">
    <div class="list-line list-address-line" ng-repeat="school in vm.schoolByKey" ng-click="vm.goSchool(school)">{{school.name}}</div></div>
</div>
