<ul rn-carousel class="image" rn-carousel-auto-slide="" rn-carousel-buffered="" rn-carousel-index="0">
  <li>
    <img src="images/slider_01.jpg" style="width:100%;height:200px;" />
  </li>  
  <li>
    <img src="images/slider_02.png" style="width:100%;height:200px;" />
  </li>  
  <li>
    <img src="images/slider_03.jpg" style="width:100%;height:200px;" />
  </li>  
  <li>
    <img src="images/slider_04.jpg" style="width:100%;height:200px;" />
  </li>  
  <li>
    <img src="images/slider_05.jpg" style="width:100%;height:200px;" />
  </li>
  <img src="http://zhaime.qiniudn.com/uploads/bannerPadding1080_810.png" />
</ul>