<header class="bar bar-nav">
  <button class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
  </button>
  <h1 class="title">查看物流</h1>
</header>
<div class="content">
<div class="timeline">
	<ul>
		<li class="timeline-item">
			<div class="timeline-item-head-first">
				<span class="icon icon-check"></span>
			</div>
			<div class="timeline-item-tail"></div>
			<div class="timeline-item-content">
				<h4 class="recent">【广东】 潮州 仓库已发出</h4>
				<p class="recent">2016-08-01 16:00:00</p>
			</div>
		</li>
		<li class="timeline-item">
			<div class="timeline-item-head">
				<span class="icon icon-check" style="display: none;"></span>
			</div>
			<div class="timeline-item-tail"></div>
			<div class="timeline-item-content">
				<h4>申通快递员 广东潮州 收件员 xxx 已揽件</h4>
				<p>2016-08-01 16:10:00</p>
			</div>
		</li>
	</ul>
</div>
</div>