<header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left">
      <span class="icon icon-left-nav"></span>
    </button>
    <h1 class="title">帮助中心</h1>
</header>
<div class="content">
  <ul class="table-view">
    <li class="table-view-cell media">
      <a class="navigate-right">
        <p class="pull-right">400-***-***</p>
        <div class="media-body">
         客服
        </div>
      </a>
    </li>
    <li class="table-view-cell media">
      <a class="navigate-right">
        <div class="media-body">
         提意见
        </div>
      </a>
    </li>
    <li class="table-view-cell media">
      <a class="navigate-right">
        <div class="media-body">
         常见问题
        </div>
      </a>
    </li>
  </ul>
</div>