<header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left">
      <span class="fa fa-chevron-left"></span>
    </button>
	<h1 class="title">选择城市</h1>
	<!-- <span class="icon pull-right icon-search"></span> -->
    <button class="btn btn-link btn-nav pull-right" style="margin-right:10px;">
      <span class="fa fa-search"></span>
    </button>	
</header>
<div class="content" style="background-color: #f4f4f4;">
	<div class="currentCity">
		<div class="currentCity-title">当前城市</div>
		<p><a href="#">潮州</a></p>
	</div>
	<div class="partition-line"></div>
	<div class="hot-city">
		<div class="currentCity-title">热门城市</div>
		<ul>
			<li><a href="#">广州</a></li>
			<li><a href="#">潮州</a></li>
			<li><a href="#">深圳</a></li>
		</ul>
	</div>
	<div class="cityList">
		<div class="currentCity-title">A</div>
		<ul class="table-view">	
			<li class="table-view-cell">Item 1</li>
			<li class="table-view-cell">Item 2</li>
			<li class="table-view-cell">item3</li>
			<li class="table-view-cell">Item 4</li>
		</ul>
	</div>
</div>