<header class="bar bar-nav">
	<h1 class="title">选择学校</h1>
	<span class="icon pull-right icon-search"></span>
</header>
<div class="content" style="background-color: #f4f4f4;">
	<div class="currentCity">
		<div class="currentCity-title">学校</div>
		<p><a href="#">韩山师范学院</a></p>
	</div>
	<div class="partition-line"></div>
	<div class="hot-city">
		<div class="currentCity-title">热门城市</div>
		<ul>
			<li><a href="#">广州大学</a></li>
			<li><a href="#">韩山师范学院</a></li>
			<li><a href="#">深圳大学</a></li>
			<li><a href="#">深圳大学</a></li>
			<li><a href="#">韩山师范学院陶瓷学院</a></li>
		</ul>
	</div>
	<div class="cityList">
		<div class="currentCity-title">A</div>
		<ul class="table-view">	
			<li class="table-view-cell">Item 1</li>
			<li class="table-view-cell">Item 2</li>
			<li class="table-view-cell">item3</li>
			<li class="table-view-cell">Item 4</li>
		</ul>
	</div>
</div>