<div class="login-wraper login-min-wraper">
  <div class="nav" style="padding: 5px 0 0 5px;">
    <a href="##"><span class="icon icon-home"></span></a>
    <button class="btn btn-link pull-right ">
      <span class="icon icon-right"></span>
      about
    </button>
  </div>
  <div class="login-logo">
    <img src="#" alt="logo">
  </div>
  <div class="login-form">
    <form class="input-group">
      <input type="text" placeholder="请输入手机号码或用户名">
      <input type="password" placeholder="请输入密码">
      <div class="login-input">
        <button class="btn btn-block btn-login">登录</button>
        <p style="clear: both">
          <a href="#" style="float: left">找回密码</a>
          <a href="#" style="float: right">注册账户</a>
        </p>
      </div>
    </form>
  </div>

</div>

<!--<button class="btn btn-link btn-valid">获取验证码</button>-->
