<header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left">
      <span class="icon icon-left"></span>
    </button>
    <h1 class="title">吐槽</h1>
</header>
<div class="content">
	<div class="messageBoard">
		<textarea name="#" id="" cols="30" rows="10" class="messageBoard-content" placeholder="欢迎留言吐槽提意见"></textarea>
		<textarea name="" id="" cols="30" rows="1" class="messageBoard-u" placeholder="留下您的联系方式呗"></textarea>
	</div>
	<button class="btn btn-block btn-login u-btn">提交</button>
</div>