<header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left">
      <span class="icon icon-left-nav"></span>
    </button>
    <h1 class="title">支付订单</h1>
</header>
<div class="content">
  <ul class="table-view">
    <li class="table-view-cell media" style="padding-right: 10px;">
		<p class="pull-left small-px">订单编号</p>
		<span class="pull-right small-px">201615151</span>
    </li>
    <li class="table-view-cell media" style="padding-right: 10px;">
		<p class="pull-left small-px">支付账户</p>
		<p class="pull-right small-px">手机号码/用户名</p>
    </li>
 	<li class="table-view-cell media" style="padding-right: 10px;">
		<p class="pull-left small-px">付款方式</p>
		<p class="pull-right small-px">好友shop余额支付</p>
    </li>
    <li class="table-view-cell media" style="padding-right: 10px;line-height:20px; ">
		<span class="pull-left">需付</span>
		<h4 class="pull-right" style="padding-bottom: 0;">40.00元</h4>
    </li>
   </ul>
  <button class="btn btn-block btn-login" style="background-color: #ff6347;color:#fff;margin-top:30px;margin-left: 5%; width: 90%">确认付款</button>
</div>
