<header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left">
      <span class="icon icon-home"></span>
    </button>
    <h1 class="title">个人信息</h1>
</header>
<div class="content">
  <ul class="table-view">
    <li class="table-view-cell media">
      <a class="navigate-right">
        <img class="media-object pull-right" src="#" alt="头像">
        <div class="media-body">
         用户头像
        </div>
      </a>
    </li>
    <li class="table-view-cell media">
      <a class="navigate-right">
        <p class="pull-right">150*******</p>
        <div class="media-body">
         名称
        </div>
      </a>
    </li>
    <li class="table-view-divider" style="border:0;">注册手机</li>
    <li class="table-view-cell media">
      <a class="navigate-right">
        <p class="pull-right">150*******</p>
        <div class="media-body">
         您绑定的手机号码
        </div>
      </a>
    </li>
  </ul>
  <button class="btn btn-block btn-login" style="border:1px solid #ff6347;margin-top:30px;margin-left: 5%; width: 90%">退出登录</button>
</div>