<header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left">
      <span class="icon icon-left-nav"></span>
    </button>
    <button class="btn btn-link btn-nav pull-right">
      购物车
    </button>
    <h1 class="title">优店特供</h1>
</header>
<div class="content">
	<ul class="sift_nav">
		<li>价格<span class="icon icon-caret pull-right"></span></li>
		<li>销量<span class="icon icon-caret pull-right"></span></li>
		<li>上架时间<span class="icon icon-caret pull-right"></span></li>
	</ul>
	<div ng-include="'../templates/gk-goodlist.html'"></div>
	<div ng-include="'../templates/gk-goodlist.html'"></div>
	<div ng-include="'../templates/gk-goodlist.html'"></div>
</div>