
<div class="content">
<header class="bar" style="background-color: transparent;border: 0;">
    <button class="btn btn-link btn-nav pull-left">
      <span class="icon icon-left-nav"></span>
    </button>
    <button class="btn btn-link btn-nav pull-right">
      购物车
    </button>
</header>
<footer class="bar bar-tab clear product_Footer">
   <div class="left addCart">立即购买</div>
   <button class="right pay">加入购物车</button>
</footer>
<div ng-include="'../templates/gk-slide.html'" scope="" onload=""></div>
<div class="product_info">
	<h6>纯天然椴树蜜 500g</h6>
	<div class="product_price">
		<span class="price">￥150</span>
		<del class="right">￥196</del>
	</div>
	<div class="content-line">
		<span>库存：99</span>
		<span>销量：50</span>
	</div>
</div>
<ul class="table-view">
	<li class="table-view-cell">
	 <div class="media-body">
	  <span class="badge badge-primary">正品保障</span>
	  <span class="badge badge-primary">正品保障</span>
	  <span class="badge badge-primary">正品保障</span>
	 </div>
	</li>
</ul>
<div class="partition-block" style="margin: 0;background-color: #fff"></div>
<div class="content-block" style="background-color: #fff;">
	<p>选择规格</p>
	<p>
		<span class="badge bage-checked">1份</span>
		<span class="badge">2份</span>
	</p>
	<p>选择数量</p>
	<div ng-include="'../templates/gk-cartCount.html'" scope="" onload=""></div>
</div>
<div class="partition-block" style="margin: 0;background-color: #fff"></div>
<div class="product_info_img">
	<div class="content-line table-view">
	商品详情说明
	</div>
	<img src="../images/test.jpg" alt="">
</div>
</div>