<header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left">
      <span class="icon icon-left-nav"></span>
    </button>
    <h1 class="title">订单状态</h1>
</header>
<div class="content">
	<div class="state">
		<span class="check-wraper">
			<span class="icon icon-check"></span>
		</span>
		<span class="state_0">订单提交成功！</span>
	</div>
	<div class="state_order">
		<p>订单编号：2313213123</p>
		<p>订单金额：<span>￥0.00</span></p>
		<p>支付时间：</p>
	</div>
	<div>
		<button class="btn btn-positive">查看订单</button>
		<button class="btn btn-primary">返回首页</button>
	</div>
</div>