<header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left">
      <span class="icon icon-home"></span>
    </button>
    <h1 class="title">当前地址</h1>
    <button class="btn btn-link btn-nav pull-right">
      <img class="media-object pull-right smallhead-pic" src="../images/yeoman.png" alt="头像">
    </button>
</header>
<div class="content">
	<!-- 分段栏 -->
	<div class="segmented-control">
		<a class="control-item active" href="#item1mobile">
		Thing one
		</a>
		<a class="control-item" href="#item2mobile">
		Thing two
		</a>
		<a class="control-item" href="#item3mobile">
		Thing three
		</a>
		<a class="control-item" href="#item4mobile">
		Thing three
		</a>
	</div>
	<!-- 分段栏-结束 -->
	<div class="content-line">
		<div class="restaurantPromotion_info pull-left">店铺公告</div>
		<!-- 弹窗按钮 -->
		<div class="popover-menu pull-right">
  			<a href="#myPopover">
      			Tap title
      			<span class="icon icon-caret"></span>
  			</a>
		</div>
		<!-- 弹窗按钮-结束 -->
	</div>
	<!-- 弹窗菜单内容 -->
	<div id="myPopover" class="popover">
	  <ul class="table-view">
	    <li class="table-view-cell"><a href="">Item1</a></li>
	    <li class="table-view-cell">Item2</li>
	    <li class="table-view-cell">Item3</li>
	    <li class="table-view-cell">Item4</li>
	    <li class="table-view-cell">Item5</li>
	    <li class="table-view-cell">Item6</li>
	    <li class="table-view-cell">Item7</li>
	    <li class="table-view-cell">Item8</li>
	  </ul>
	</div>
	<!-- 弹窗菜单内容-结束 -->
	<div class="card">
		<span id="item1mobile" class="control-content active">
			<div class="storelist-card">
				
			</div>
			<div class="storelist-card">
				
			</div>
			<div class="storelist-card">
				
			</div>
			<div class="storelist-card">
				
			</div>
			<div class="storelist-card">
				
			</div>
			<div class="storelist-card">
				
			</div>
		</span>
		<span id="item2mobile" class="control-content">
			
		</span>
		<span id="item3mobile" class="control-content">
			
		</span>
		<span id="item4mobile" class="control-content">
			
		</span>

	</div>
</div>