<!-- 官方店 -->
<header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left">
      <span class="icon icon-left-nav"></span>
    </button>
    <h1 class="title">优店提交订单</h1>
</header>
<footer class="bar bar-tab clear cartFooter">
   <div class="left countAll">合计：<span>￥</span></div>
   <button class="right pay">下单</button>
</footer>
<div class="content">
	<ul class="table-view">
		<li class="table-view-cell media">
			<a class="navigate-right">
				<div class="media-body">
					<p>
						<span class="icon icon-person small"></span>
						<span class="small">收货人姓名</span>
					</p>
					<p>
						<span class="icon icon-person small"></span>
						<span class="small">收货人手机</span>
					</p>
					<p>
						<span class="icon icon-person small"></span>
						<span class="small">广东省 潮州市 湘桥区 韩山师范学院东丽b区</span>
					</p>
				</div>
			</a>
		</li>
		<li class="table-view-cell table-view-divider">优惠~</li>
		<li class="table-view-cell">
		    <a class="navigate-right">
		      <span class="icon icon-person pull-left small"></span>
		      <span class="small">查看优惠券</span>
		    </a>
		</li>
		<li class="table-view-cell table-view-divider">选择支付方式</li>
		<li class="content-block">
		    <p>
		    	支付宝
		    	<input type="radio" class="right" name="payWay">
		    </p>
		    <div class="partition-line"><!-- 我是分割线 --></div>
		    <p>
		    	微信
		    	<input type="radio" class="right" name="payWay">
		    </p>
		    <div class="partition-line"><!-- 我是分割线 --></div>
		    <p>
		    	余额支付
		    	<input type="radio" class="right" name="payWay">
		    </p>
		    <div class="partition-line"><!-- 我是分割线 --></div>
		    <p>
		    	货到付款
		    	<input type="radio" class="right" name="payWay">
		    </p>
		</li>
		<li class="table-view-cell table-view-divider">给卖家留言</li>
		<li class="content-block">
			<textarea name="" id="" cols="30" rows="6" placeholder="欢迎留言"></textarea>
		</li>
	</ul>
</div>
