
<header class="bar bar-nav">
<!--   <button class="btn btn-link btn-nav pull-left">
    <span class="icon icon-home"></span>
  </button> -->
  <button class="btn btn-link btn-nav pull-right" ng-click="vm.header.rightEvent()" style="margin-right:0;">
    <!-- 设置 -->
    <span class="fa fa-cog" style="font-size:20px;"></span>
  </button>
  <h1 class="title">个人中心</h1>
</header>

<!-- 底部UI导航 -->
<div ng-include="'./views/common/footer.html'" class="bar-tab"></div>




<div class="content">
  <div class="userhead-Pic">
    <img src="{{ vm.defaultGravatar }}" alt="头像">
    <p ng-bind="vm.profile.name" ng-show="vm.profile.name"></p>
    <p ng-click="vm.goState('login')" ng-show="!vm.profile.name">登录/注册</p>
    <div class="filier-pic"  style="background: url('{{vm.defaultGravatar}}') no-repeat; background-size:100%;"></div>
  </div>
  <!-- 我的订单部分 -->
  <ul class="table-view">
    <li class="table-view-cell">
      <a class="navigate-right">
        <span class="badge badge-inverted">查看全部订单</span>
          我的订单
      </a>
    </li>
    <li class="order-item">
      <a href="#">
        <i class="fa fa-calendar-minus-o" aria-hidden="true" style="font-size:24px;"></i>
        <p>待付款</p>
      </a>
      <a href="#">
        <i class="fa fa-bookmark-o" aria-hidden="true" style="font-size:24px;"></i>
        <p>待发货</p>
      </a>
      <a href="#">
        <i class="fa fa-truck" aria-hidden="true" style="font-size:24px;"></i>
        <p>待收货</p>
      </a>
      <a href="#">
        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:24px;"></i>
        <p>待评价</p>
      </a>
      <a href="#">
        <i class="fa fa-history" aria-hidden="true" style="font-size:24px;"></i>
        <p>退货/退款</p>
      </a>
    </li>
  </ul>
  <!-- 我的订单部分-结束 -->
  <div class="list">
    <div class="list-block">
      <h1 ng-if="vm.isLogin" ng-bind="'￥'+vm.profile.balances"></h1>
      <p>账户余额</p>
    </div>
    <div class="list-block">
      <h1 ng-if="vm.profile.credits" ng-bind="vm.profile.credits"></h1>
      <h1 ng-if="!vm.profile.credits">--</h1>
      <p>我的积分</p>
    </div>
    <div class="list-block">
      <h1 ng-if="vm.isLogin" ng-bind="vm.profile.bonusCount+'个'"></h1>
      <p>我的红包</p>
    </div>
    <div class="list-block">
      <h1 class="list-block-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></h1>
      <p>地址管理</p>
    </div>
    <div class="list-block">
      <h1 class="list-block-icon"><i class="fa fa-home" aria-hidden="true"></i></h1>
      <p>我要开店</p>
    </div>
    <div class="list-block" ng-click="vm.ifbind('password')">
      <h1 class="list-block-icon"><i class="fa fa-lock" aria-hidden="true"></i></h1>
      <p>密码管理</p>
    </div>
    <div class="list-block" ng-click="vm.ifbind('')">
      <h1 class="list-block-icon"><i class="fa fa-mobile" aria-hidden="true"></i></h1>
      <p>解绑手机</p>
    </div>
    <div class="list-block">
      <h1 class="list-block-icon"><i class="fa fa-info-circle" aria-hidden="true"></i></h1>
      <p>关于我们</p>
    </div>
    <div class="list-block">
      <h1 class="list-block-icon"><i class="fa fa-question-circle" aria-hidden="true"></i></h1>
      <p>使用帮助</p>
    </div>
  </div>
</div>



