<nav class="bar bar-tab">
  <a class="tab-item" ng-class="{true:'active',false:''}[vm.isHome]" ng-click="vm.goState('home')">
    <span class="icon {{ root.dynamicUIDetails[0].iconClass }}"></span>
    <span class="tab-label">{{ root.dynamicUIDetails[0].name }}</span>
  </a>
  <a class="tab-item" ng-class="{true:'active',false:''}[vm.isStores]" ng-click="vm.goState('stores')">
    <span class="icon {{ root.dynamicUIDetails[1].iconClass }}"></span>
    <span class="tab-label">{{ root.dynamicUIDetails[1].name }}</span>
  </a>
  <a class="tab-item" ng-class="{true:'active',false:''}[vm.isOrders]" ng-click="vm.goState('orders')">
    <span class="icon {{ root.dynamicUIDetails[2].iconClass }}"></span>
    <span class="tab-label">{{ root.dynamicUIDetails[2].name }}</span>
  </a>
  <a class="tab-item" ng-class="{true:'active',false:''}[vm.ifProfile]" ng-click="vm.goState('profile')">
    <span class="icon {{ root.dynamicUIDetails[3].iconClass }}"></span>
    <span class="tab-label">{{ root.dynamicUIDetails[3].name }}</span>
  </a>
</nav>