<div class="card">
		<div class="content-line small">
			<span class="icon icon-person pull-left small">
				<span>收货人</span>
				<span>手机号码</span>
			</span>
			<span class="badge badge-negative pull-right">默认</span>
		</div>
		<div class="content-line small">
			<span class="icon icon-home pull-left small">
				<span>广东省 潮州市湘桥区</span>
			</span>
		</div>
	<div class="partition-line"></div>
	<div class="addreses-footer">
		<div class="left"><a href="#">编辑</a></div>
		<div class="right"><a href="#">删除</a></div>
	</div>
</div>