<ul class="table-view">
	<li style="padding: 4px;font-size: 14px;color:#888;">商品名称<span style="float: right;color:#8b0000;">待付款</span></li>
	<li class="partition-line"></li>
    <li class="table-view-cell media">
	    <img class="media-object pull-left" src="../images/yeoman.png" alt="商品图">
	    <button class="btn btn-negative btn-outlined">付款</button>
	    <div class="media-body">
	     <p>数量:1</p>
	     <br>
	     <p>价格:￥10</p>
	    </div>
    </li>
    <li>
    	<a href="#" style="float: right;font-size: 14px;padding:5px;">删除订单</a>
    </li>
</ul>