<!--slide-->
<div id="slide">
  <div class="swiper-wrapper">
  <a href="#">
    <img src="../images/slider.jpg"/>
  </a>
  <a href="#">
    <img src="../images/yeoman.png"/>
  </a>
  <a href="#">
    <img src="../images/slider.jpg"/>
  </a>
  <a href="#">
    <img src="../images/slider.jpg"/>
  </a>
  <a href="#">
    <img src="../images/slider.jpg"/>
  </a>
  <a href="#">
    <img src="../images/slider.jpg"/>
  </a>
  </div>
  <ul id="pagination">
    <li class="active"></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>  
</div>