<div style="height:1rem;"></div>
<!--slide-->
<div id="slide">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
     <a href="#">
      <img src="./images/slider.jpg" style="width:100%;height:100%;"/>
     </a>
    </div>
    <div class="swiper-slide">
     <a href="#">
      <img src="./images/slider.jpg" style="width:100%;height:100%;"/>
     </a>
    </div>
    <div class="swiper-slide">
     <a href="#">
      <img src="./images/slider.jpg" style="width:100%;height:100%;"/>
     </a>
    </div>
  </div>
  <div class="pagination"></div>  
</div>